#icons2 {
  color: rgb(60, 60, 60);
  text-decoration: none;
  font-size: 1.3rem;
}
#icons2:hover {
  color: black;
}
.numbers {
  position: absolute;
  text-decoration: none;
  top: 30px;
  right: 10rem;
  color: white;
}
