.CartDisplay img {
  width: 180px;
  height: 215px;
  object-fit: cover;
  object-position: center 32%;
  border-radius: 8px;
  box-shadow: 0 7px 25px -10px rgba(0, 0, 0, 0.33);
}
.CartDisplay .a {
  background-color: rgba(0,0,0,.164);
  border-radius: 5px;
  color: #fff;
  height: 25px;
  padding: 0 5px;
  text-decoration: none;
}

@media (max-width: 440px) {
  .CartDisplay img {
    width: 100%;
  }
}