.CartButton {
  padding: 0 2rem;
  font-size: 1rem;
  font-weight: bold;
  border: none;
  height: 40px;
  width: 300px;
  background-color: #6c5454;
  color: white;
  border-radius: 5px;
}
.CartButton:hover {
  background-color: #6c5454d7;
  transition: 1s;
}


/* .CartButton {
  width: 120px;
  height: 30px;
  background-color: rgb(79, 92, 117);
  color: white;
  font-size: 1rem;
  font-weight: 300;
  border-radius: 15px;
  margin-left: 10px;
  cursor: pointer;
}
.CartButton:hover{
  color: rgb(79, 92, 117);
  background-color: rgb(209, 209, 209);
  font-weight: 600;
} */