.TypesItem img {
  width: 19rem;
  object-fit: cover;
  object-position: center;
  white-space: nowrap;

}
.TypesItem {
  position: relative;
  flex: 0 0 30%;
  margin-bottom: 5rem;
  margin-top: 1rem;
}
.TypesItem a {
  position: absolute;
  bottom: -3rem;
  z-index: -1;
  left: 1.5rem;
  right: 1.5rem;

  text-decoration: none;
  background-color: rgb(255, 204, 146);
  color: black;
  font-weight: bold;
  font-size: 1.3rem;
  padding: 1.5rem 2rem 1rem;
  text-align: center;
  border-radius: 1.5rem;
}