.Product {
  display: flex;
  padding: 1rem;
  text-align: center;
  line-height: 34px;
  width: 60%;
  border: 1px solid white;
  background-color: white;
  margin: 30px auto;
  justify-content: center;
  
  box-shadow: 5px 10px 5px rgb(119, 117, 117);
}
.Product:hover{
  box-shadow: 10px 15px 15px rgb(119, 117, 117);
}
.title {
  color: rgb(0, 0, 0);
  font-size: 15px;
  text-transform: uppercase;
}
.text {
  width: 500px;
  border: 1px solid black;
  cursor: pointer;
}
.ProductButton {
  font-size: 1.2em;
  border: none;
  box-sizing: border-box;
  background: transparent;
}
.ProductButton:hover {
  cursor: pointer;
}
.image {
  width: 270px;
  height: 270px;
  margin-left: 15px;
  border: 1px solid white;
  border-radius: 2%;
  box-shadow: 8px 10px 15px rgb(119, 117, 117);
}