.Product {
  display: flex;
}
.Product2 {
  padding: 1rem;
  text-align: center;
  line-height: 38px;
  border: 1px solid white;
  margin: 15px;
}
.title {
  color: rgb(0, 0, 0);
}
.p {
  color: black;
}
.btn {
  width: 120px;
  height: 30px;
  background-color: rgb(79, 92, 117);
  color: white;
  font-size: 1rem;
  font-weight: 300;
  border-radius: 15px;
}
.btn:hover{
  color: rgb(79, 92, 117);
  background-color: rgb(209, 209, 209);
  font-weight: 600;
}
.image{
  width: 300px;
  height: 300px;
  margin-top: 20px;
}