.CategoryItem {
  position: relative;
  flex: 0 0 10%; 
   padding: 20px 0;
 
}
.container {
  max-width: 1100px;
  margin: 0 auto;
  padding: 0 1rem;
}
.CategoryItemImage {
  position: relative;
  width: 250px;
  height: 250px;
  overflow: hidden;
}
.CategoryItemImage img {
  width: 100%;
  object-fit: cover;
  width: 250px;
  height: 250px;
  border-radius: 100%;
}
.CategoryItemImage .CategoryItemText {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  margin: 10px 0 0 0;
  padding: 0 60px;
  background-color: #d2a967;
  color: black;


  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: baseline;
  justify-content: space-between;
}