.ProductItemImage {
  position: relative;
  width: 300px;
  height: 300px;
  overflow: hidden;
  box-shadow: 0 0 10px rgba(0, 0, 0, .3);
}
.ProductItemImage img {
  transition: all 0.2s linear;
  width: 100%;
  object-fit: cover;
  width: 300px;
  height: 300px;
}
.ProductItemImage img:hover {
  transform: scale(1.1);  
}
.ProductItem {
  position: relative;
  flex: 0 0 30%;
  margin-bottom: 5rem;
  margin-top: 1rem;
}
.ProductItemText{
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  margin: 10px 0 0 0;
  padding: 0 60px;
  color: white;

  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: baseline;
  justify-content: space-between;
  background-color: rgb(79, 92, 117);
  transition: .2s ease-in-out;
}
.ProductItem a::before {
  height: 7px;
  border-radius: 20px;
  transform: scale3d(1, 1, 1);
  transition: transform 0.2s, opacity 0.2s;
  transition-timing-function: cubic-bezier(0.2, 0.57, 0.67, 1.53);
}

.ProductItem a:hover::before {
  transition-timing-function: cubic-bezier(0.8, 0, 0.1, 1);
  transition-duration: 0.4s;
  opacity: 1;
  transform: scale3d(1.2, 0.1, 1);
}

.ProductItem a {
  transform: translate3d(0, -4px, 0);
  display: inline-block;
  transition: transform 0.2s 0.05s cubic-bezier(0.2, 0.57, 0.67, 1.53);
}

.ProductItem a:hover  {
transition: all 0.4s ease-in-out;
}
.ProductItem .price {
  position: absolute;
  top: -1.5rem;
  z-index: 3;
  right: 230px;

  background-color: rgb(79, 92, 117);
  color: rgb(245, 243, 243);
  font-weight: bold;
  font-size: 1.3rem;
  padding: 1rem;
  text-align: center;
  border-radius: 50%;
  box-shadow: 0 0 10px rgba(0, 0, 0, .3);
}   