.Header {
  min-height: 70vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-size: cover;
  margin-bottom: 2rem;
}

.Header img {
  width: 100%;
  height: 40vh;
  min-height: 380px;
  object-fit: cover;
  object-position: center;

  margin: 2rem 0;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}
.Header section {
  position: absolute;
  max-width: 500px;

  width: 600px;
  top: 14rem;
  left: 26rem;
  justify-content: center;
  text-align: center;

  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  border: 1px solid black;
  background-color: #7e7c7cbe;
  font-size: 1.2rem;
}
@media (max-width: 700px) {
  .Header section {
    position: absolute;

    top: 15%;
    left: 7%;
    color: white;
    padding: 15px;
    margin: 10px;
    max-width: 80%;
  }
}
@media (max-width: 620px) {
  .Header section {
    position: absolute;

    top: 25%;

    color: white;
    padding: 15px;
    margin: 10px;
    max-width: 80%;
  }
}
.Header h1 {
  font-size: 2rem;
  color: aliceblue;
}
.about img {
  height: 300px;
  width: 300px;
  padding: 10px;
}
.about {
  padding-top: 50px;
  width: 100%;
}
@media (max-width: 600px) {
  main {
    padding-top: 15px;
    flex-wrap: wrap;
  }
}
.about #video {
  height: 300px;
  padding: 15px;
  border: none;
}
.about-container {
  display: flex;
  background-color: #827b70;
  flex-direction: row;
  align-items: center;
  width: 100%;
  max-width: 1500px;
  padding: 30px;
  color: rgb(0, 0, 0);
  margin: auto;
}

@media (max-width: 600px) {
  .about-container {
    flex-wrap: wrap;
    align-items: center;
    margin: auto;
  }
}
.about p {
  border: 1px solid black;
  font-size: 17px;
  width: 60%;
  margin-right: 10px;
  padding: 40px;
  font-weight: 200;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}
@media (max-width: 600px) {
  main {
    padding-top: 15px;
    flex-wrap: wrap;
  }
}

.full-card {
  display: flex;
  margin: 0;
  padding: 30px;
}
.card {
  margin-right: 40px;
  border: 2px solid;
  width: 500px;
  border-radius: 1rem;
  padding: 14px;
}
.card h4 {
  color: blue;
}
.card img {
  width: 100px;
}

.card4 {
  display: flex;
  margin-top: 20px;
  padding-right: 10px;
  width: 500px;
}
.card4 .line {
  margin: 0 250px;
}
.card4 img {
  width: 200px;
}

.container2 {
  margin: 0 auto;
  position: relative;
  text-align: center;
  width: 400px;
  justify-content: flex-start;
}
#contact {
  background-color: lightgray;
  padding: 25px;
  margin: 50px 0;
  font-size: large;
  border: 2px solid black;
}
#contact h3 {
  display: block;
  font-size: 30px;
  font-weight: 400;
}
#contact h4 {
  margin: 5px 0 15px;
  display: block;
  font-size: 15px;
  font-weight: 300;
}
fieldset {
  border: medium none;
  margin: 0 0 10px;
  padding: 0;
  width: 100%;
}
#contact textarea {
  resize: none;
  padding: 14px 29px;
}
#contact input {
  padding: 10px 24px;
}
#contact button {
  cursor: pointer;
  width: 30%;
  border: none;
  background: black;
  color: #fff;
  margin: 0 0 5px;
  padding: 10px;
  border-radius: 0.5rem;
  font-size: 15px;
}

.scenes img {
  padding-left: 40px;
  text-align: center;
}
.checkout{
  border: 1px solid black;
  width: 400px;
  padding: 15px;
  margin: 15px;
  text-decoration: none;
  align-items: center;
  font-size: 1rem;
  margin: 0 auto;
  border-radius: 10px;
  background-color: lightgray;
}
.checkout input{
  padding: 10px;
  margin: 2px;
 align-items: center;
 text-align: center;
 border-radius: .5rem;
 border: 1px solid black;
}
.checkout button{
  padding: 10px;
  border-radius: 6px;
  border: 1px solid black;
  background-color: gray;
  color: aliceblue;
  margin-top: 1rem;
  font-size: 1rem;
  align-items: center;
}
.checkout button:hover{
  cursor: pointer;
}


@media (max-width: 600px) {
  .checkout button {
    flex-wrap: wrap;
    align-items: center;
    margin: 10px auto; 
    width: 400px;

  }
}