.NavItem a {
  display: block;

  font-weight: 500;
  padding: 1rem 1.5rem;
  color: black;
  font-size: 1.2rem;
  text-decoration: none;
  border-bottom: 3px solid transparent;
}
.NavItem a.active {
  color: aliceblue;
}
.NavItem a:hover {
  border-radius: 15px;
  color: aliceblue;
  background-color: black;
}

@media (max-width: 620px) {
  .NavItem a {
    border-bottom: none;
    border-right: 5px solid transparent;
  }
} 