body {
  padding: 0;
  margin: 0;
  background-color: rgb(234, 226, 226);
  font-family: Garamond, Baskerville, Caslon, serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.container {
  max-width: 85%;
  margin: 0 auto;
  padding: 0 1rem;
}

.card2 {
  background-color: rgb(203, 202, 202);
  width: 400px;
  box-shadow: 10px 10px 20px 0 rgba(56, 56, 54, 0.735);
  border-radius: 10px;
  padding: 45px;
  text-align: center;
  border: 2px solid black;
  margin: 25px auto;
}

.card3 button {
  padding: 6px 15px;
  margin: 5px;
  background-color: rgb(79, 92, 117);
  color: white;
  font-size: 1rem;
  font-weight: 200;
  border-radius: 3px;
  margin-left: 10px;
  border: 1.5px solid black;
}

.card3 button:hover {
  cursor: pointer;
  color: rgb(79, 92, 117);
  background-color: rgb(209, 209, 209);
}

.card3 input {
  padding: 6px;
  margin: 5px;
}

@media (max-width: 600px) {
  .card2 {
    flex-wrap: wrap;
    align-items: center;
    margin: 10px auto;
    width: 300px;
  }
}