body {
  padding: 0;
  margin: 0;
  background-color: rgb(234, 226, 226);
  font-family: Garamond,Baskerville,Caslon,serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
.container {
  max-width: 85%;
  margin: 0 auto;
  padding: 0 1rem;
}
.card2 {
  background-color: rgba(103, 87, 110, 0.763);
  width: 400px;
  box-shadow: 10px 30px 40px 0 rgba(56, 56, 54, 0.735);
  border-radius: 10px;
  padding: 45px;
  text-align: center;
  margin: 25px auto;
}
.card3 button{
  padding: 6px 15px;
  margin: 5px;
  background-color: rgb(79, 92, 117);
  color: white;
  font-size: 1rem;
  font-weight: 200;
  border-radius: 3px;
  margin-left: 10px;
  border: 1.5px solid black;
}
.card3 button:hover{
  cursor: pointer;
  color: rgb(79, 92, 117);
  background-color: rgb(209, 209, 209);
}
.card3 input{
  padding: 6px;
  margin: 5px;
  background-color: rgb(227, 213, 188);
  border: none;
}

/* .circle{
  position: absolute;
  top: 20%;
  left: 50%;
  width: 130px;
  height: 130px;
  border-radius: 50%;
  border: 10px solid black;
  border-top: 10px solid white;
  animation: animate 2s infinite linear;
}
@keyframes animate {
  0%{
    transform: translate(-20%, 50%) rotate(0deg);
  }
  100%{
    transform: translate(-20%, 50%) rotate(360deg);
  }
} */
