.Nav {
  background-color: rgba(233, 163, 113, 0.668);
  color: black;
}
.Nav .container{
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.Nav ul {
  list-style: none;
  padding: 0 1.5rem;
  padding: 0;
  margin: 0;
  display: flex;
} 